# 공통
ENVIRONMENT=development
LOG_LEVEL=INFO

# DB
POSTGRES_USER=stream_user
POSTGRES_PASSWORD=change_me
POSTGRES_DB=stream_db
POSTGRES_PORT=5432

# Redis
REDIS_PASSWORD=redis_pw
REDIS_PORT=6379

# Kafka (KRaft)
KAFKA_BOOTSTRAP_SERVERS=kafka:9092

# Ports
BACKEND_PORT=8080
WRITER_PORT=8002
READER_PORT=8001
YOUTUBE_PORT=3001
ML_PORT=5001

# Spring 공통
SPRING_PROFILES_ACTIVE=docker
